
body {
  background-color: gray
}



.whiteKeys{
  position: relative;
  left: 20%;
  width: 100px;
  height: 500px;
  background-color: white;
  
}
.blackKeys{
  position: relative;
  width: 50px;
  left: 20%;
  top: 100%;
  height: 250px;
  color: white;
  background-color: black;
}